{% extends 'base.html.twig' %}

{% block title %}Tuto{% endblock %}

{% block body %}

    {% include 'partials/navbar.html.twig' %}

    <div class="container">
        <div class="row">
        {% for tuto in tutos %}
            <div class="col-md-4">
                <div class="card mb-4 mt-2 custom-card">
                    <img src="{{ asset('uploads/tuto/' ~ tuto.images) }}" class="img-fluid img-thumbnail" alt="Tuto Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ tuto.titre }}</h5>
                        <p class="card-text"><small class="text-muted">By {{ tuto.auteur }}</small></p>
                    </div>
                    <div class="card-footer">
                        {# <button class="btn btn-sm btn-primary btnseedetails" >Voir Details</button> #}
                        <a href="{{ path('tuto_show', {'id': tuto.id})}}" class="btn btn-sm btn-primary btnseedetails" type="button">Voir details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
